@model FilmGrain.Models.Movie.MovieViewModel
@{
	ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<body>
	<div>
		<div class="return"><a href="@Url.Action("Index", "Home")">Return</a></div>
		<p><strong>Release Date:</strong> @Model.DateReleased</p>
		<p><strong>Director:</strong> @Model.Director</p>
	<p><strong>User Rating:</strong> @Model.AverageRating</p>
	</div>

		<img src="@Model.PosterUrl" class="rounded float-left" />
	<input type="button" value="Add to Favorites" class="btn btn-primary" onclick="toggleText()" />
	<p id='favText' style='display: none'>Added to favorites!</p>
</body>


